<h2>Show Message</h2>

<p><%=link_to "Back", :back%>

<div class="msg">
To: <%= @message.to %><br>
Action: <%= @message.action  %><br>
Deadline: <%= @message.deadline %><br>
Content: <%= @message.content %><br> 
User ID: <%= @message.user_id %><br> 

</div>