<h2>Show Message</h2>

<div class="msg">
To: <%= @message.to %><br>
Action: <%= @message.action  %><br>
Deadline: <%= @message.deadline %><br>
Content: <%= @message.content %><br> 
User ID: <%= @message.user_id %><br> 

</div>