
<h2>List of all current users</h2><br><br>

<%= link_to "Signup!", new_user_url %><br>

<h3><%=link_to "New Message", new_message_url%></h3>

<p class="notice"><%= flash[:notice] %></p>

	<div class="users"><ol>
	<% @users.each do |user| %>
		<li><b>Name:</b> <%= link_to user.name, user_url(user.id) %> <b>Username:</b> <%= user[:username] %> <b> Password: </b> <%= user[:password] %> 
			
			| 
			
		<%= link_to "Edit", edit_user_url(user.id) %>
			
			| 
			
		<%= link_to "Delete", user_url(user.id), :method => :delete, :confirm => "Are you sure?" %></li><br>
		
	<%end%></ol></div>
<br><br>



