<h2><%=@user.name%>'s Page</h2>

<div class="user">
	
	<h4>Messages</h4>
	
	<nav>	
	<%= link_to "Edit User", edit_user_url(@user.id) %>
	| 
	<%= link_to "Back", users_url %>
	|
	<%= link_to "Delete User", user_url(@user.id), :method => :delete,		:confirm => "Are you sure?" %>
	|
	<%= link_to "Refresh", user_url(@user.id)%>
	|
	<%=link_to "New Message", new_message_url %>
	</nav><br><br>
	
	<table>
		<thead>
			<tr>
				<th>Created At</th>
				<th>Action</th>
				<th>Deadline</th>
				<th>Content</th>
				<th>Delete Msg</th>
			</tr>
		</thead>
		<tbody>
			<%@user_messages.each do |message| %>
			<tr>
				<td><%=time_ago_in_words(message.created_at)%></td>
				<td><%=message.action%></td>
				<td><%=message.deadline%></td>
				<td><%=link_to "Content", message_url(message.id)%></td>
				<td><%=link_to "Delete Message", message_url(message.id), 
					:method => :delete, :confirm => "Are you sure?"%></td>
			</tr>
			<%end%>
		</tbody>
	</table>
</div>